<!DOCTYPE html>
<html>
  <%- include('head_includes.ejs'); -%>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
      <div class="mainDiv_dashboard_company">
        <div class="boxDiv_title_dashboard_company">
          <select class="select_dashboard_company" name="product" id="product">
            <option>Sommer season</option>
          </select>
          <h1><%= title %></h1>
        </div>
        <div class="boxDiv_button_dashboard_company">
          <a class="button_add_maschine" href="/create_company_product/<%= cvr.cvr %>">Tilføj maskine</a>
          <a class="button_remove_customer" href="test">Fjern kunde</a>
        </div>
        <div>
        </div>
      </div>
<div class="innerDiv">
  <div class="boxDiv_dashboard_overview">
    <div class="boxDiv_dashboard_company">
      <div class="boxDiv_product_overview">
        <div>
          <p style="margin-left: 7%;"> Produktnummer: 2534223</p>
        </div>
        <div>
          <p><img style="width: 17px" src="../public/images/Oprettet.png" alt="Oprettet"> Oprettet: 22/4/23</p>
        </div>
        <div>
          <p><img style="width: 17px" src="../public/images/Tapning.png" alt="Tapninger"> Antal tapninger: 3000</p>
        </div>
        <div>
          <p><img style="width: 17px" src="../public/images/Co2.png" alt="Co2"> Sparet miljø: 100 ton</p>
        </div>
        <div>
          <p><img style="width: 17px" src="../public/images/Support.png" alt="Support"> Næste service: 22/7/23</p>
        </div>
      </div>
      <div>
        <h3 class="h3_title">Produkt: Mac R</h3>
        <img class="custom_img_product" src="../public/images/Macr2.jpeg" alt="produkt">
      </div>
      <div class="div_img">
        <img class="custom_img" src="../public/images/Faarup sommerland.png" alt="kort">
      </div>
    </div>
  </div>
</div>
  <div class="innerDiv">
    <div class="boxDiv_dashboard_overview">
      <div class="boxDiv_dashboard_company">
        <div class="boxDiv_product_overview_overall">
          <div>
            <p><img style="width: 13px" src="../public/images/Maskiner.png" alt="tapning"> Antal vandmaskiner: 3</p>
          </div>
          <div>
            <p><img style="width: 17px" src="../public/images/Tapning.png" alt="tapning"> Antal tapninger: 1000</p>
          </div>
          <div>
            <p><img style="width: 17px" src="../public/images/Co2.png" alt="Co2"> Miljø sparet: 100 ton</p>
          </div>
          <div>
            <p><img style="width: 13px" src="../public/images/Flasker.png" alt="Flasker"> Flasker solgt: 1000</p>
          </div>
          <div>
            <p><img style="width: 17px" src="../public/images/Chip.png" alt="Mærker"> Mærker solgt: 1000</p>
          </div>
        </div>
        <div>
          <h3 class="h3_title">Samlet oversigt</h3>
        </div>
        <div class="div_img">
          <img class="custom_img" src="../public/images/Faarup sommerland.png" alt="kort">
        </div>
      </div>
    </div>
  </div>

</main>
  </body>
</html>