<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
    <div>
      
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv_dashboard">
    <div class="boxDiv_product_view">
      <button class="add_button"type="submit">Tilføj</button>
  </div>
  </div>
</div>
  <div class="innerDiv">
    <div class="boxDiv_dashboard">
      <div class="boxDiv_company">
        <div class="div_pencil_area">
          <div class="div_pencil_icon"><i class="fa fa-pencil"></i></div>
        </div>
          <div>
            <p><i  class="fa fa-building icon_style"></i> Faarup</p>
          </div>
          <div>
            <p><i  class="fa fa-address-book icon_style"></i> Jens bøgner christensen andersen hansen andersen andersen andersen</p>
          </div>
          <div>
            <p><i  class="fa fa-wrench icon_style" title="teknikker"></i>27147831 </p>
          </div>
      </div>
    </div>
  </div>
</main>
  </body>
</html>