<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv">
      <h3 class="h3Title">Vælg system for at se prototype</h3>
        <div class="boxDiv_index">
          <a class="indexButton" href="/customer/login_customer" >Faarup sommerland</a>
          <a class="indexButton" href="/login" >Wetap API</a>
          <!-- <button class="indexButton">Wetap API</button>
          <button class="indexButton">Kunden</button> -->
      </div>
    </div>
  </div>

</main>
  </body>
</html>
