<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv_login">
      <p class="p_Title">E-mail:</p>
      <input class="input_login" type="email" placeholder="Eksempel@gmail.com" required>
      <p class="p_Title">Password:</p>
      <input class="input_login" type="password" required>
      <div class="div_forgot_password">
        <a href="/">Glemt adgangskode?</a>
      </div>

      <div class="div_button">
        <button class="button_login" type="submit">Login</button>
      </div>
      <div class="div_button">
        <button class="button_login" type="submit">Registere</button>
      </div>
  </div>
  </div>
</main>
  </body>
</html>