<!DOCTYPE html>
<html>
  <body>
  <div class="topnav">
    <a class="img_picture"href="/dashboard"><img src="../public/images/Wetap_logo.png" alt="dashboard" width="100px" height="30px"></a>
    <%if (locals.dashboard) { %>
    <a class="active" href="/dashboard">Overview</a>
    <% } else { %>
      <a href="/dashboard">Overview</a>
    <% } %>
    <%if (locals.brugere) { %>
    <a class="active" href="/user_panel">Brugere</a>
    <% } else { %>
      <a href="/user_panel">Brugere</a>
      <% } %>
      <%if (locals.produkt) { %>
    <a class="active" href="/product_panel">produkter</a>
    <% } else { %>
      <a href="/product_panel">produkter</a>
      <% } %>
      <div class="dropdown">
        <button class="dropbtn">René Seebach <i class="fa fa-user-circle"></i></button>
        <div class="dropdown-content">
          <a href="/profile">Indstillinger</a>
          <a href="/logout">Log ud</a>
        </div>
      </div>
  </div>
  </body>
</html>
