<!DOCTYPE html>
<html>
  <body>
   <header id="header">
      <div class="burgermenu">

      </div>
      <div class="logo_header_bar">
        <a href="/velkommen">
          logo
        </a>
      </div>
      <div class="user_kurv">
        <a href="/profile">
         René Seebach
        </a>
        <a href="/kurv">
          profil
        </a>
      </div>
   </header>
  </body>
</html>
