<!DOCTYPE html>
<html>
  <body>
    <ul class="navigationBar">
      <li class="navigationList"><a class="navigationText" href="/dashboard"><img src="../public/images/Wetap_logo.png" alt="dashboard" width="30px" height="30px"></a></li>
      <li class="navigationList"><a class="navigationText" href="/dashboard">overview</a></li>
      <li class="navigationList"><a class="navigationText" href="/user_panel">brugere</a></li>
      <li class="navigationList"><a class="navigationText" href="/product_panel">produkter</a></li>
      <!-- <li class="navigationList"><a class="navigationText" href="https://www.iba.dk/fuldtidsuddannelser/bibliotek">IBA Bibliotek</a></li>
      <div>
        <li class="navigationList"><a class="navigationText" href="https://www.iba.dk/fuldtidsuddannelser"><img src="../Image/1519890469637.png" alt="Iba home" width="30px" height="30px"></a></li>
      </div> -->
  </ul>  

   <!-- <header id="header">
      <div class="burgermenu">
        <a href="/velkommen">
          logo
        </a>
        <a href="/velkommen">
          oversigt
        </a>
        <a href="/velkommen">
          brugere
        </a>
        <a href="/velkommen">
          produkter
        </a>
      </div>
      <div class="user_kurv">
        <a href="/profile">
         René Seebach
        </a>
      </div>
   </header> -->
  </body>
</html>
