<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navigation_bar.ejs'); -%>
    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv_update_product_company">
        <p class="p_Title">Produktnummer:</p>
        <input type="number" name="Product_number" placeholder="Produktnummer" required>
    </div>
    <div class="boxDiv_update_product_company">
        <p class="p_Title">CVR:</p>
        <input type="number" name="CVR_number" placeholder="CVR nummer" required>
    </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_update_product_company">
      <p class="p_Title">Produkt:</p>
      <select name="company_product" id="company_product">
          <option>Vælg produkt</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
  </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_update_product_company">
      <p class="p_Title">Beskrivelse:</p>
      <textarea class="custom_input" type="text" name="Description" placeholder="Bekriv produkt" required></textarea>
  </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_update_product_company_date">
      <p class="p_Title">Oprettet:</p>
      <input type="date" name="Product_number" placeholder="Produktnummer" required>
  </div>
  <div class="boxDiv_update_product_company">
      <p class="p_Title">Næste service tjek:</p>
      <input type="date" name="Service_check" required>
  </div>
</div>
<div class="innerDiv">
  <div class="boxDiv_update_product_company">
      <p class="p_Title">Billedet:</p>
      <input class="custom_input" type="file" name="Product_file" placeholder="indsæt billedet" required>
  </div>
</div>  
    <div class="innerDiv">
        <div class="div_button_update_product_company">
            <button type="submit">Opdatere</button>
            <button type="submit">Fortryd</button>
        </div>
    </div>
</main>
  </body>
</html>