<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('customer_navigation_bar.ejs'); -%>

    <main>
    <div class="mainDiv">
    <div>
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv_confirm">
      <p>Vi har nu fået modtaget en bekræftelse på din oprettelse.
        Du aktiveres så snart vores system har registeret dig som bruger.</p>
    <div class="div_button_confirm">
      <a class="btn_button_2" href="/customer/login_customer"><p class="p_btn_button">Tilbage til login</p></a>
    </div>
  </div>
  </div>
</main>
  </body>
</html>