<!DOCTYPE html>
<html>
  <body>
  <div class="topnav_faarup">
    <a class="img_picture" href="/customer/dashboard_customer"><img src="../../public/images/Faarup-logo.png" alt="dashboard" style="width: 100px; height: 4em"></a>
    <a class="active" style="color: #259846;margin-top: 2%;">Wetap API</a>
  </div>
  </body>
</html>
