<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <main>
    <div class="mainDiv">
    <div>
    </div>
  </div>
  <div class="innerDiv">
    <div class="boxDiv_confirm">
      <p>Vi har nu fået modtaget en bekræftelse på din oprettelse.
        Du aktiveres så snart vores system har registeret dig som bruger.</p>
    <div class="div_button_confirm">
      <a class="btn_button_2" href="test/3"><p class="p_btn_button">Tilbage </p></a>
    </div>
  </div>
  </div>
</main>
  </body>
</html>