/********************************global set ********************************/
main {
  width: 100%;
  min-height: 81vh;
}
body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
button{
  background-color: #2A8894;
  border: none;
  border-radius: 0px 25px 25px 25px;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 100%;
  height: 2em;
  margin: 10%;
}
button:hover{
  background-color: #207783;
  cursor: pointer;
}
input{
  border: solid #207783;
  border-radius: 10px 0px 10px 10px;
  height: 50%;
  /* height: 10%; */
}
select{
  border: solid #207783;
  border-radius: 10px 0px 10px 10px;
  height: 60%;
  width: 23em;
  
}
textarea{
   resize: vertical; 
}
.mainDiv{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* margin-top: 4em; */
}
.innerDiv{
  display: flex; 
  justify-content: center;
}
.custom_input{
  border: solid #207783;
  border-radius: 10px 0px 10px 10px;
  height: 50%;
  width: 23em;
}
.p_Title{
  margin: inherit;
  font-size: 0.8em;
}
/**************************************************************************/

/******************************************HEADER_BAR**************************************************************************/
/* holds the header navigation */
.navigationBar{
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

 .navigationList{
float: left;
} 

.navigationText{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
.navigationText:hover{
  background-color: #333;
}

/* #header { */
  /* width: 100%; */
  /* height: 60px; */
  /* padding: 2em; */
  /* background-color: var(--color-primary); */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* position: fixed; */
  /* z-index: 100;
  border-radius: solid;
  background-color: aliceblue;
}
.logo_header_bar {
  display: flex;
  justify-content: start;
} */


/* .burgermenu,
.logo_header_bar,
.user_kurv {
  width: 33%;
}



.user_kurv {
  display: flex;
  justify-content: flex-end;
}

.burgermenu img,
.logo_header_bar img {
  width: 3em;
}

.user_kurv img {
  width: 2em;
  margin: 0 1em;
}

@media screen and (max-width: 400px) {
  .user_kurv img {
    margin: 0 0.5em;
  }
} 


/********************************index/Welcome page ********************************/

.boxDiv{
  border: solid;
  padding: 0px 10px 25px 10px;
  border-radius: 25px;
  width: 43%;
}
.boxDiv_index{
  display: inline-flex;
  width: 65%;
  padding: 0px 10px 15px 10px;
}
.h3Title{
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.indexButton{
  background-color: #2A8894;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto; 
  height: auto;
  min-width: 50%;
}
.indexButton:hover{
  background-color: #207783;
  cursor: pointer;
}
/**************************************************************************/

/********************************Login Wetap API page ********************************/
.boxDiv_login{
  padding: 0px 10px 25px 10px;
}
.div_button{
  margin: 10% 0% 10%;
}
.div_forgot_password{
  font-size: 75%;
}
.input_login{
  border: solid #207783;
  border-radius: 10px 0px 10px 10px;
  height: 10%;
}
.button_login{
  margin: 0 !important;
}
/**************************************************************************/

/********************************confirm Wetap API page ********************************/
.boxDiv_confirm{
  width: 20em;
  padding: 0px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div_button_confirm{
  margin: 25% 0% 10%;
  width: 9em;
}
/**************************************************************************/
/********************************register Wetap API page ********************************/
.boxDiv_register{
  padding: 0px 10px 15px 10px;
}
.div_button_register{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}
/**************************************************************************/
/********************************profile Wetap API page ********************************/
.boxDiv_profile{
  padding: 0px 10px 15px 10px;
}
.div_button_profile{
  /* display: flex; */
  justify-content: center;
  margin: 3% 0% 10%;
}

.button_save{
  margin: 3% !important;
}
.button_remove{
  margin: 3% !important;
  background-color: red;
}
.button_remove:hover{
  background-color: #f34141;
  cursor: pointer;
}
/**************************************************************************/

/********************************create company Wetap API page ********************************/
.boxDiv_create_company{
  padding: 0px 10px 15px 10px;
}
.div_button_create_company{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/

/********************************update company Wetap API page ********************************/
.boxDiv_update_company{
  padding: 0px 10px 15px 10px;
}
.div_button_update_company{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/

/********************************create company product Wetap API page ********************************/
.boxDiv_create_product_company{
  padding: 0px 10px 15px 10px;
}
.div_button_create_product_company{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}
.boxDiv_create_product_company_date{
  padding: 0px 10px 15px 10px;
  margin-right: 5%;
}

/**************************************************************************/

/********************************create company product Wetap API page ********************************/
.boxDiv_update_product_company{
  padding: 0px 10px 15px 10px;
}
.div_button_update_product_company{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}
.boxDiv_update_product_company_date{
  padding: 0px 10px 15px 10px;
  margin-right: 5%;
}

/**************************************************************************/

/********************************user panel and product panel Wetap API page ********************************/
 /* Simplified version of Bootstrap's responsive table CSS */
 .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive > table {
  width: 100%;
  table-layout: fixed;
}
.table td {
    word-wrap: break-word;
    max-width: 200px;
    padding-left: 6%;
    border-bottom: 1pt solid black;
}

.table th {
  word-wrap: break-word;
  max-width: 200px;
  padding-left: 1%;
  border-bottom: 1pt solid black;
  padding-bottom:20px;
}
.table table tr {
  border-bottom: 2pt solid black;
}

.admin_active{
  background-color: #0DF10D;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 75%;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 1em;
  cursor: pointer;
}
.admin_notactive{
  background-color: #FFD36B;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 75%;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 1em;
  cursor: pointer;
}
.admin_delete{
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 75%;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 1em;
  cursor: pointer;
}
.admin_update_product{
  background-color: #0DF10D;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 75%;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 1em;
  cursor: pointer;
}
.admin_delete_product{
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 75%;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 1em;
  cursor: pointer;
}
.admin_active:hover{
  background-color: #73f373;
  cursor: pointer;
}
.admin_notactive:hover{
  background-color: #fde1a0;
  cursor: pointer;
}
.admin_delete:hover{
  background-color: #f66d6d;
  cursor: pointer;
}
.admin_update_product:hover{
  background-color: #73f373;
  cursor: pointer;
}
.admin_delete_product:hover{
  background-color: #f66d6d;
  cursor: pointer;
}
.add_button{
min-width: 200% !important;
}
.boxDiv_product_view{
  padding: 0px 10px 15px 10px;
}
/**************************************************************************/

/********************************create product Wetap API page ********************************/
.boxDiv_create_product_bottle{
  padding: 0px 10px 15px 10px;
}
.div_button_create_product_bottle{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/

/********************************update product Wetap API page ********************************/
.boxDiv_update_product_bottle{
  padding: 0px 10px 15px 10px;
}
.div_button_update_product_bottle{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/

/********************************update product Wetap API page ********************************/
.boxDiv_create_product_water_supply{
  padding: 0px 10px 15px 10px;
}
.div_button_create_product_water_supply{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/

/********************************update product Wetap API page ********************************/
.boxDiv_update_product_water_supply{
  padding: 0px 10px 15px 10px;
}
.div_button_update_product_water_supply{
  display: flex;
  justify-content: center;
  margin: 3% 0% 10%;
}

/**************************************************************************/
/********************************dashboard Wetap API page ********************************/
.boxDiv_dashboard{
  display: flex;
  overflow: auto;
  border: solid;
  padding: 0px 10px 25px 10px;
  border-radius: 25px;
  width: 90%;
  flex-wrap: wrap;
}
.boxDiv_company{
  /* display: inline-flex; */
  width: 20%;
  padding: 0px 10px 15px 10px;
  margin: 3%;
  border: solid #2A8894;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 5px 5px 10px #2A8894;
}
.icon_style{
  margin-right: 1%;
}
.div_pencil_area{
  display: flex;
  justify-content: end;
}
.div_pencil_icon{
  padding-top: 1%;
}

/**************************************************************************/